.App-header {
    background-color: #6eb257;
    color: #fff;
    padding: 20px;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}